In [28]:
from quandl import get

In [29]:
key = open("key").read()[:-1]
df = get("XFRA/SES", authtoken = key)

In [30]:
df["Open"].max()

28.189279

In [31]:
# calcula o valor máximo dentro de uma janela de um ano
df_max = df["Open"].rolling(365).max()
df_max.dropna().tail(10)

Date
2018-11-19    20.969889
2018-11-20    20.754499
2018-11-21    20.600000
2018-11-22    20.600000
2018-11-23    20.600000
2018-11-26    20.600000
2018-11-27    20.600000
2018-11-28    20.600000
2018-11-29    20.600000
2018-11-30    20.600000
Name: Open, dtype: float64

In [32]:
df["Open"].min()

7.338374

In [33]:
# calcula o valor mínimo dentro de uma janela de um ano
df_min = df["Open"].rolling(365).min()
df_min.dropna().tail(10)

Date
2018-11-19    10.181612
2018-11-20    10.181612
2018-11-21    10.181612
2018-11-22    10.181612
2018-11-23    10.181612
2018-11-26    10.181612
2018-11-27    10.181612
2018-11-28    10.181612
2018-11-29    10.181612
2018-11-30    10.181612
Name: Open, dtype: float64

In [34]:
df["Open"].mean()

15.049353721453842

In [35]:
df_mean = df["Open"].rolling(365).mean()
df_mean.dropna().head(10)

Date
2008-05-26    9.196874
2008-05-27    9.203614
2008-05-28    9.210487
2008-05-29    9.217443
2008-05-30    9.224976
2008-06-02    9.232653
2008-06-03    9.240148
2008-06-04    9.247246
2008-06-05    9.254637
2008-06-06    9.262366
Name: Open, dtype: float64

In [36]:
# Desvio padrão
df["Open"].std()

5.039098942039774

In [37]:
df_std = df["Open"].rolling(365).std()
df_std.dropna().head(10)

Date
2008-05-26    0.824519
2008-05-27    0.822560
2008-05-28    0.820609
2008-05-29    0.818601
2008-05-30    0.817220
2008-06-02    0.815549
2008-06-03    0.813004
2008-06-04    0.809682
2008-06-05    0.806050
2008-06-06    0.803369
Name: Open, dtype: float64

In [38]:
df.describe()

,Open,High,Low,Close,Volume,Adjustment Factor,Adjustment Type
count,3109.000000,3109.000000,3109.000000,3109.000000,3109.000000,12.000000,12.0
mean,15.049354,15.136921,14.998623,15.083193,1071.232551,0.955426,17.0
std,5.039099,5.074960,5.019980,5.053727,3398.398517,0.009331,0.0
min,7.338374,7.355723,7.063806,7.063806,0.000000,0.939091,17.0
25%,10.360477,10.380062,10.301896,10.373478,0.000000,0.951226,17.0
50%,13.620000,13.703759,13.561754,13.647093,200.000000,0.957240,17.0
75%,18.524421,18.670000,18.427716,18.552265,887.000000,0.961055,17.0
max,28.189279,28.189279,28.064083,28.181201,76496.000000,0.969423,17.0