CURSO DE AN√ÅLISE DE DADOS COM PYTHON - CERTI
RAFAEL CALIXTO
DATAFRAMES

In [30]:
from pandas import DataFrame, read_csv

In [31]:
df = read_csv("XRPBTC.csv")

In [32]:
df.head(5)

,Date,High,Low,Mid,Last,Bid,Ask,Volume
0,2019-03-05,0.000082,0.000081,0.000082,0.000082,0.000082,0.000082,2.650157e+06
1,2019-03-04,0.000082,0.000080,0.000081,0.000081,0.000081,0.000081,2.270225e+06
2,2019-03-03,0.000082,0.000081,0.000082,0.000082,0.000082,0.000082,1.263727e+06
3,2019-03-02,0.000083,0.000082,0.000082,0.000082,0.000082,0.000082,1.776641e+06
4,2019-03-01,0.000084,0.000082,0.000083,0.000083,0.000083,0.000083,2.613528e+06

In [34]:
df.set_index("Data", inplace=True)

NameError: name 'inplace' is not defined

In [28]:
df.tail(5)

,Date,High,Low,Mid,Last,Bid,Ask,Volume
628,2017-05-23,0.000159,0.000130,0.000145,0.000144,0.000143,0.000146,2.929714e+06
629,2017-05-22,0.000165,0.000115,0.000141,0.000141,0.000140,0.000141,8.063178e+06
630,2017-05-21,0.000178,0.000160,0.000163,0.000164,0.000162,0.000163,3.390939e+06
631,2017-05-20,0.000189,0.000147,0.000168,0.000168,0.000167,0.000169,4.924474e+06
632,2017-05-19,0.000200,0.000130,0.000164,0.000169,0.000159,0.000169,1.133802e+06

In [29]:
df[["High","Low","Ask"]]

         High       Low       Ask
0    0.000082  0.000081  0.000082
1    0.000082  0.000080  0.000081
2    0.000082  0.000081  0.000082
3    0.000083  0.000082  0.000082
4    0.000084  0.000082  0.000083
5    0.000083  0.000081  0.000082
6    0.000083  0.000081  0.000081
7    0.000087  0.000083  0.000083
8    0.000088  0.000079  0.000086
9    0.000081  0.000080  0.000081
10   0.000082  0.000080  0.000081
11   0.000084  0.000080  0.000081
12   0.000084  0.000082  0.000083
13   0.000089  0.000082  0.000083
14   0.000084  0.000082  0.000083
15   0.000083  0.000082  0.000083
16   0.000084  0.000083  0.000083
17   0.000084  0.000083  0.000084
18   0.000085  0.000084  0.000084
19   0.000086  0.000083  0.000084
20   0.000084  0.000083  0.000084
21   0.000084  0.000083  0.000083
22   0.000085  0.000083  0.000084
23   0.000086  0.000085  0.000085
24   0.000088  0.000084  0.000085
25   0.000086  0.000085  0.000086
26   0.000086  0.000085  0.000085
27   0.000087  0.000086  0.000086
28   0.000088  0.000086  0.000086
29   0.000089  0.000086  0.000087
..        ...       ...       ...
603  0.000101  0.000097  0.000099
604  0.000104  0.000100  0.000101
605  0.000109  0.000099  0.000102
606  0.000111  0.000095  0.000107
607  0.000103  0.000092  0.000096
608  0.000096  0.000089  0.000093
609  0.000096  0.000088  0.000092
610  0.000102  0.000090  0.000091
611  0.000108  0.000097  0.000100
612  0.000120  0.000101  0.000103
613  0.000107  0.000097  0.000103
614  0.000109  0.000097  0.000098
615  0.000117  0.000108  0.000109
616  0.000123  0.000106  0.000115
617  0.000125  0.000106  0.000107
618  0.000143  0.000115  0.000121
619  0.000139  0.000105  0.000139
620  0.000112  0.000089  0.000107
621  0.000104  0.000092  0.000095
622  0.000108  0.000100  0.000103
623  0.000112  0.000097  0.000109
624  0.000124  0.000080  0.000104
625  0.000135  0.000103  0.000119
626  0.000125  0.000094  0.000106
627  0.000146  0.000115  0.000124
628  0.000159  0.000130  0.000146
629  0.000165  0.000115  0.000141
630  0.000178  0.000160  0.000163
631  0.000189  0.000147  0.000169
632  0.000200  0.000130  0.000169

[633 rows x 3 columns]